:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-family: "courier new",sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Oswald:wght@200&family=Righteous&display=swap');

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section
 {
    display: block;
}
body{
  margin: 0;
  min-height: 100vh;
}

.header{
  height: 55rem;
  width: auto;
  background: url(background100j_img.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 30px 120px;
  position: relative;
  z-index: 0;
}

.navbar{
    margin-left: 20%;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
.logo{
width: auto;
height: auto;
cursor: pointer;
margin-left: -323px;
position: absolute;
}
.logo2{
  width: auto;
  height: auto;
  cursor: pointer;
  margin-left: -177px;
  position: absolute;
}
#img1{
height: 61px;
width: 130px;
}
#img2{
height: 72px;
width: 240px;
}
nav {
  flex: 1;
  text-align: right;
  margin-left: 265px;
  width: auto;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 0;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: -60px;
}
li {
  float: left;
  margin-top: 20px;
  margin-left: 100px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Arial';
}
li a:hover {
  background-color: chocolate;
}

/******* Counter Style **********/
/***.tableCircles {
  margin-left: 682px;
  width: 900px;
  position: relative;
  margin-top: 265px;
}
td {
  color: white;
  font-size: 30px;
  text-align: center;
}****/

.countdown-container {
  display: flex;
  width: 100%;
  max-width: 88%;
  justify-content: space-between;
  position:relative;
  padding-left: 42rem;
  padding-top: 16rem;
  color:white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;

}

.days-container,
.hours-container,
.minutes-container, 
.seconds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.041);
  border: 5px solid rgb(0, 153, 255);
  width: 140px;
  height: 140px;
  border-radius: 99px;
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 2.5em; 
  margin: 10px 0;
}


.days-label,
.hours-label,
.minutes-label,
.seconds-label {
  text-transform: uppercase;
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  
  .countdown-container {
    max-width: 90%;
  }
  
  .days-container,
  .hours-container,
  .minutes-container, 
  .seconds-container {
    font-size: 0.8em;
    width: 100px;
    height: 100px;
  }
}

/**************** desc box **********/
.desc-box{
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-shadow: 4px 8px 13px -1px rgba(0,0,0,0.3); 
  box-shadow: 4px 8px 13px -1px rgba(0,0,0,0.3);
  margin-left: 130px;
  margin-right: 120px;
  -webkit-border-top-left-radius: 35px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 35px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 5px;
  position:relative;
  top: -94px;
  z-index: 5;
  background: white;
}

.row {
  display: flex;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 0px;
  padding-bottom: 0px;
  top: -87px;
  position: relative;
}
.column {
  float: left;
}
.left {
  width: 50%;
}
.right {
  width: 50%;
  padding-top: 50px;
}
@font-face {
  font-family: "Placard";
  src: url(../fonts/placard-next-round-hairline.otf) format("opentype");
}
h1{
  text-align: center; font-size: 45px; color: #002e7f; font-family: 'Montserrat', sans-serif;
}
p{
  font-size: 35px; color: #707070; text-align: center;font-family: 'Montserrat', sans-serif;
}

#price-title{
  font-size: 98px; color: #002e7f;font-family: 'Placard', sans-serif !important;
}
#paragraph-price{
  font-size: 35px; color: #707070;font-family: 'Montserrat', sans-serif;
}
#price-content-span{
  font-size: 32px; color: #002e7f; font-family: 'Oswald', sans-serif;
}
#list-content-price{
  list-style-type:square !important; font-size: 20px; color: #707070; font-weight: bold; font-family: 'Oswald', sans-serif;
}

#content-price-paragraph{
  list-style-type:square !important; font-size: 25px; color: #707070; font-weight: bold; font-family: 'Oswald', sans-serif; padding-left: 85px;
}
/* cards */
.card{
  padding-left: 116px;
}
.card .icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../src/icon1.png);
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
}
.card .icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
  background: url(../src/icon2.png);
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
}
.card .icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../src/icon3.png);
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;}
.card .icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../src/icon4.png);
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;}
.card .icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../src/icon5.png);
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;}
  .card .icon6{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../src/icon6.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;}
.card .slide {
  width: 150px;
  height: 200px;
  transition: 0.5s;
}
.card .slide.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: .7s;
  transform: translateY(100px);
}
.card:hover .slide.slide1{
  transform: translateY(0px);
}
.card .slide.slide2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: .8s;
  transform: translateY(-100px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
.card:hover .slide.slide2{
  transform: translateY(0);
}
.card .slide.slide2::after{
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: #2c73df;
}
.card .slide.slide2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}
.card .slide.slide2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 15px;
  text-align: center;
  color: #414141;
} 
#text-card{
  font-size: 20px;
}
h3{
  font-size: 22px;
}
.bg{
  top: 182px;
  height: 135px;
  z-index: 0;
  position:relative;
  background: #f2f2f2;
}

.cards{
  position:relative;
  top: -163px;

}
/** timeline **/
.timeline{
  background: url(../src/programme_img.png);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
bottom: 516px;
  height: 100rem;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
#timeline-title{
  font-size: 98px; color: white;font-family: 'Placard', sans-serif !important;
  text-align: left;
  position: relative;
  top: 11rem;
 
}







/******* team start *********/
.team{
  position: relative;
  bottom: 894px;
}
.left-team {
  width: 50%;
}
.right-man-team {
  width: 25%;
  display: flex;
  padding-top: 80px;
}
.right-women-team {
  width: 25%;
  display: flex;
  padding-top: 80px;
}
#team-title{
  font-size: 98px; color: #002e7f;font-family: 'Placard', sans-serif !important;
  text-align: left !important;
  position: relative;
}
#team-desc{
  text-align: left;
  font-size: 23px;
  padding-right: 18rem;
}
.wrapper { display: grid; grid-template-columns: repeat(6, 1fr);}
.photo1 img{
  -webkit-border-radius: 5px;
-webkit-border-top-left-radius: 35px;
-moz-border-radius: 5px;
-moz-border-radius-topleft: 35px;
border-radius: 5px;
border-top-left-radius: 35px;
-webkit-box-shadow: 4px 8px 13px -1px rgba(0,0,0,0.3); 
box-shadow: 4px 8px 13px -1px rgba(0,0,0,0.3);
}
.photo2{
  -webkit-border-radius: 5px;
  -webkit-border-top-left-radius: 35px;
  -moz-border-radius: 5px;
  -moz-border-radius-topleft: 35px;
  border-radius: 5px;
  border-top-left-radius: 35px;
  -webkit-box-shadow: 4px 8px 13px -1px rgba(0,0,0,0.3); 
  box-shadow: 4px 8px 13px -1px rgba(0,0,0,0.3);
}
#title-team-member{
  font-size: 32px; color: #002e7f;font-family: 'Montserrat', sans-serif !important;

}
#desc-team-member{
text-align: left;
font-size: 20px;
}
#timeline-image{
padding-top: 6rem;
width: -moz-available;
}
/**** events start *****/
.events{
  position: relative;
  z-index: 1;
  top: -95rem;
  align-items: center;
}
.year-2015{
  width: 33.33%;
}
.year-2016{
  width: 33.33%;
}
.year-2017{
  width: 33.33%;
}
.year-2018{
  width: 50%;
  padding-left: 18rem;
}
.year-2019{
  width: 50%;
  padding-right: 20%;
}
.title-image-year{
  position: relative;
  color:white;
  font-size: px;
  text-align: center;
  bottom: 50%;

}
.title-image-year h3{
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}
#image2015, #image2016, #image2017, #image2018, #image2019{
  width:500px;
  height: 320px;
  -webkit-border-top-left-radius: 35px;
  -moz-border-radius-topleft: 35px;
  border-top-left-radius: 35px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31);
}
.bg-events{
  background: #f2f2f2;
  position:relative;
  z-index: 0;
  height: 55rem;
  bottom: -46rem;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31);
}
/******************************/
.desc2{
position: relative;
}
.desc2 h1{
  position: relative;
  bottom: 108rem;
  font-family: 'Placard', sans-serif !important;
  text-align: left;
  padding-left: 10rem;
}

/******************************/
.stats{
  position: relative;
  bottom: 118rem;
}
.bg-stats{
  background: #f2f2f2;
  height:20rem;
  position: relative;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31);
  bottom: -11rem;
}
.left-side{
  width: 40%;
}
.right-side-1{
  width: 15%;
}
.right-side-2{
  width: 15%;
}
.right-side-3{
  width: 15%;
}
.right-side-4{
  width: 15%;
}
#image-stats{
  width: 80%;
  height: 100%;
  vertical-align: middle;
  position: relative;
  padding-top: 2rem;
}
.stats-title h3{
font-family: "Montserrat", sans-serif;
font-size: 22px;
text-align: center;
color: #1d3b7c;
position: relative;
bottom: 30px;
}
.number h1{
color:#d8a558;
text-align: center;
}
.desc3{
  position: relative;
  top: -120rem;
}
.titledesc3 h3{
  position: relative;
  font-family: "Montserrat", sans-serif;
  color:#002e7f;
  font-size: 55px;
  padding-left: 10rem;
}
.leftsidedesc3{
width: 50%;
position: relative;
padding-top: 70px;
}
.rightsidedesc3{
  width: 50%;
  position: relative;
padding-top: 70px;
}
.leftsidedesc3 p{
  text-align: justify;
  font-size: 26px;
  position: relative;
  padding: 20px;
}
.rightsidedesc3 p{
  text-align: justify;
  font-size: 26px;
  position: relative;
  padding: 20px;
}

.stats2{
  position: relative;
  top: -119rem;
}
.leftstats2{
width: 50%;
}
.rightside-stats2-1{
width: 16.66%;
bottom: 1.5rem;
position: relative;

}
.rightside-stats2-2{
width: 16.66%;
bottom: 1.5rem;
position: relative;

}
.rightside-stats2-3{
width: 16.66%;
bottom: 1.5rem;
position: relative;

}
.bg-stats2{
  background: #f2f2f2;
  position: relative;
  height: 12rem;
  top: 4rem;
}
.desc4{
  position: relative;
  top: -125rem;
}
.footer{
  position: relative;
  bottom: 137rem;
}
.bgfooter{
  position: relative;
  background: url(../src/footer_img.png);
  background-size: cover;
  height: 60rem;
}
.title-footer h1{
  color: white;
  font-size: 75px;
  text-align: left;
  position: relative;
  bottom: 50rem;
  font-family: 'Placard', sans-serif !important;
  padding-left: 4rem;
}
.first-div{
position: relative;
bottom: 47rem;
} 
.first-div::before{
  width: 50px;
  height:50px;
  content: " ";
  position:absolute;
  left:  -4rem;
  background-image: url(../src/horloge.png);
}
.second-div{
  position: relative;
  bottom: 49rem;
}
.second-div::before{
  width: 46px;
  height:46px;
  content: " ";
  left: -4rem;
  position:absolute;
  background-image: url(../src/map.png);
}
.third-div{
  position: relative;
  bottom: 51.3rem;
}
.third-div::before{
  width: 50px;
  height:50px;
  content: " ";
  left: -4rem;
  position:absolute;
  background-image: url(../src/park.png);
}
.fourth-div::before{
  width: 50px;
  height:50px;
  content: " ";
  left: -4rem;
  position:absolute;
  background-image: url(../src/park.png);
}
.first-section{
width: 50%;
align-items: center;
}
.second-section{
width: 50%;
position: relative;
bottom: 47rem;
left: 13rem;
}
.title-div h3{
  font-family: 'Placard', sans-serif !important;
  color: white;
  font-size: 50px;
}
.p-div p{
  font-family: "Montserrat", sans-serif;
  color: white;
  position: relative;
  top: -3rem;
  text-align: left;
}

.button {
  background-color: transparent; /* Green */
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31);
  bottom: -11rem;
  color: white;
  width: 200px;
  height: 75px;
  border: 2px solid white;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  border-top-left-radius: 35px;
}
.button:hover{
  background-color: white;
  color: black;
  border: 2px solid black;

}
/*******************************
******************************
************************
*
***************************
*************************
END************
***************************
**********************
************
*********/






/** Devices with width: 1680px */
@media screen and (max-width: 1680px) {
  nav{
    margin-left: 267px;
  }
  .desc-box{
    top: -196px;
  }
  #prix{
    padding-left: 11px !important;
  }
  #image2015, #image2016, #image2017, #image2018, #image2019{
    width: 424px;
  }
  .year-2018,.year-2019{
    width: 84% !important;
    padding-left: 11rem !important;
  }
}
/***********************************/
@media screen and (max-width: 1400px) {
  .countdown-container{
    padding-left: 26rem;
    padding-top: 10rem;
  }
  .desc-box{
    top: -304px;
  }
  .desc-box h1{
    font-size: 38px;
  }
  .desc-box p{
    font-size: 27px;
  }
  #prix-position{
    top: -299px;
  }
  .cards{
    top: -368px;
  }
  #prix{
    padding-left: 0rem !important;
  }
  .card{
    padding-left: 70px;
  }
  .timeline{
    top: -45rem;
  }
  .team{
    bottom: 1144px;
  }
  .photo1 img{
    width: 270px;
    height: 350px;
  }
  .photo2 img{
    width: 270px;
    height: 350px;
  }
  #title-team-member{
    font-size: 30px;
  }
  .events{
    top: -115rem;
  }
  #image2015, #image2016, #image2017, #image2018, #image2019{
    width: 340px;
  }
  .desc2 h1{
    bottom: 129rem;
  }
  .stats{
    bottom: 139rem;
  }
  .desc3{
    top: -140rem;
  }
  .titledesc3 h3{
    font-size: 46px;
  }
  .leftsidedesc3 p{
    font-size: 22px;
  }
  .rightsidedesc3 p{
    font-size: 22px;
  }
  .stats2{
    top: -146rem;
  }
  .desc4{
    top: -153rem;
  }
  .footer{
    bottom: 165rem;
  }
  .title-footer h1{
    font-size: 64px;
  }
}
@media screen and (max-width: 1280px) {
  #img1{
    width: 110px;
    height:52px;
  }
  #img2{
    width: 220px;
    height: 66px;
  }
  .logo{
    margin-left: -272px;
  }
  .desc-box{
    top: -355px;
  }
  .desc-box h1{
    font-size: 33px;
  }
  .desc-box p{
    font-size: 23px;
  }
  #prix-position{
    top: -367px;
  }
  #price-title{
    font-size: 67px;
  }
  #paragraph-price{
    font-size: 27px;
  }
  #price-content-span {
    font-size: 24px;
  }
  #content-price-paragraph{
    font-size: 17px;
  }
  .card{
    padding-left: 54px;
  }
  #timeline-title {
    font-size: 54px;
    top: 13rem;
  }
  #timeline-image{
    padding-top: 13rem;
  }
  .timeline{
    height: 81rem;
  }
  #team-title{
    font-style: 89px;
  }
  #team-desc{
    padding-right: 5rem;
  }
  .photo1 img{
    height: 285px;
    width: 220px;
  }
  .photo2 img{
    height: 285px;
    width: 220px;
  }
  .team{
    bottom: 1106px;
  }
  #team-title-member{
    font-size: 25px;
  }
  #desc-team-member{
    font-size: 17px;
  }
  #image2015, #image2016, #image2017, #image2018, #image2019{
    width: 309px;}
  .titledesc3 h3{
    font-size: 36px;
  }  
  .leftsidedesc3 p{
    font-size: 19px;
  }
  .rightsidedesc3 p{
    font-size: 19px;
  }
  #second-event-row{
    padding-left: 77px;
  }
  .title-footer h1{
    font-size: 49px;
  }
  .p-div p{
    font-size: 27px;
  }
  .button{
   width: 177px;
   height: 60px;
   font-size: 17px;
   border-top-left-radius: 28px;
  }
}

@media screen and (max-width: 1199px) {
  .countdown-container{
    padding-left: 20rem;
    padding-top: 4rem;
  }

  .logo{
    margin-left: -275px;
    position: relative;
  }
  .card{
    padding-left: 43px;
  }
  #title-team-member{
    font-size: 23px;
  }
  #image2015, #image2016, #image2017, #image2018, #image2019 {
  width: 283px;
  height: 20rem;
  }
  .year-2015{
    position: relative;
    bottom: -3rem;
  } 
  .year-2016{
    position: relative;
    bottom: -3rem;
  } 
  .year-2017{
    position: relative;
    bottom: -3rem;
  }
  .year-2018{
    position: relative;
    bottom: 3rem;
  }
  .year-2019{
    position: relative;
    bottom: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .logo{
    position: absolute;
    margin-left: -224px;
    margin-top: -7rem;

  }
  .logo2{
    margin-left: -111px;
    margin-top: -7rem;
  }
  nav{
    margin-left: 90px;
  }
  .days-label, .hours-label, .minutes-label, .seconds-label {
    font-size: 10px;
  }
  .days-container, .hours-container, .minutes-container, .seconds-container {
  width: 100px;
height: 102px;
  }
  li{
    margin-top: 4px;
    margin-left: 98px;
  }
  .desc-box h1{
    font-size: 26px;
  }
  .desc-bpx p{
    font-size: 17px;
  }
  .desc-box {
    top: -449px;
  }
  #list-content-price {
    font-size: 15px;}
  #price-title {
      font-size: 56px;
    }
   #paragraph-price {
      font-size: 21px;
    } 
    #content-price-paragraph {
      font-size: 15px;
    }
    .card {
      padding-left: 16px;
    }
    .timeline {
      top: -45rem;
    }
    #timeline-title {
      top: 11rem;
        }
    #timeline-image {
      padding-top: 9rem;
    }
    .cards {
      top: -459px;
    }
    #team-desc {
      font-size: 18px;
    }
    .photo1 img {
      height: 220px;
      width: 170px;
    }
    .photo2 img {
      height: 220px;
      width: 170px;
    }
    #image2015, #image2016, #image2017, #image2018, #image2019 {
      width: 240px;
      height: 15rem;
      }
      .year-2015{
        position: relative;
        bottom: -3rem;
      } 
      .year-2016{
        position: relative;
        bottom: -3rem;
      } 
      .year-2017{
        position: relative;
        bottom: -3rem;
      }
      .year-2018{
        position: relative;
        bottom: 3rem;
      }
      .year-2019{
        position: relative;
        bottom: 3rem;
      }
      .year-2018, .year-2019 {
        padding-left: 8rem !important;
      }
      #image-stats {
        width: 75%;
        height: 76%;}
        .stats-title h3{
          font-size: 17px;
        }
        .number h1{
          font-size: 2rem;
        }
        .stats {
          bottom: 131rem;
        }
        .bg-stats{
        height: 6rem;
        bottom: -6rem;
        }
        #row-stats{
          top: -21px;
        }
        .desc3 {
          top: -132rem;
        }
        .titledesc3 h3 {
          font-size: 30px;
        }
        .leftsidedesc3 p {
          font-size: 16px;
        }
        .rightsidedesc3 p{
          font-size: 16px;
        }
        #title-team-member {
          font-size: 18px;
        }
        #desc-team-member {
          font-size: 14px;
        }
        .leftstats2 img{
          width: 200px;
          height: 80px
        }
        .bg-stats2{
          top: 0rem;
          height: 7rem;
        }
        .stats2{
          top: -138rem;
        }
        .desc4 {
          top: -148rem;
        }
        .title-footer h1 {
          font-size: 40px;
        }
        .title-div h3 {
          font-size: 36px;
        }
        .p-div p {
          font-size: 18px;
          padding-top: 25px;
        }
        .button {
          width: 120px;
          height: 41px;
          font-size: 15px;
          border-top-left-radius: 21px;
        }
        .footer {
          bottom: 163rem;
        }
        .bgfooter{
          height: 43rem;
        }
        #footer-position{
          top: 150px;
        }
        .title-footer h1{
          top: -36rem;
        }
}
@media screen and (max-width: 991px) {
  .desc-box h1 {
    font-size: 22px;
  }
  .desc-box p {
    font-size: 18px;
  }
  .card {
    padding-left: 12px;
  }
  .footer {
    padding-top: 5rem;
  }
  .titledesc3 h3 {
    padding-top: 2rem;
  }
  #image-stats {
    width: 68%;
    height: 64%;
  }
  #timeline-image {
    padding-top: 16rem;
  }

}
@media screen and (max-width: 767px) {
  #img1 {
    width: 80px;
    height: 38px;
  }
  #img2 {
    width: 150px;
    height: 43px;
  }
  .logo {
    margin-left: -189px;
    margin-top: -10rem;
  }
  .logo2 {
    margin-left: -98px;
    margin-top: -10rem;
  }
  .days, .hours, .minutes, .seconds {
    font-size: 2.5em;
    margin: 15px 0;
  }
  .days-label, .hours-label, .minutes-label, .seconds-label {
    font-size: 7px;
    margin-bottom: 1rem;
  }
  .days-container, .hours-container, .minutes-container, .seconds-container {
    width: 79px;
    height: 76px;
  }
  .countdown-container {
    padding-left: 10rem;
    padding-top: 0rem;
  }
  .desc-box h1 {
    font-size: 16px;
  }
  .desc-box p {
    font-size: 15px;
  }
  .desc-box {
    top: -548px;
  }
  #prix-position {
    top: -513px;
  }
  #price-title {
    font-size: 40px;
  }
  #price-content-span {
    font-size: 18px;
  }
  #price-content-span img{
      height: 47px;
      width: 25px;
  }
  #list-content-price {
    font-size: 15px;
  }
  #content-price-paragraph {
    font-size: 12px;
    text-align: left;
  }
  .card .slide {
    width: 114px;
    height: 194px;
    transition: 0.5s;
  }
  #text-card {
    font-size: 13px;
  }
  .bg {
    top: 30px;
    height: 135px;
    z-index: 0;
    position: relative;
    background: #f2f2f2;
  }
  #prix {
    padding-left: -16rem !important;
    top: -16rem;
  }
  .card {
    padding-left: 9px;
  }
  .timeline {
    top: -55rem;
    height: 49rem;
    }
    #timeline-image {
      padding-top: 3rem;
    }
    #timeline-title {
      top: 5rem;
    }
    .team {
      bottom: 68rem;
    }
    #team-title {
      font-size: 77px;
    }
    #team-desc {
      font-size: 14px;
    }
    #title-team-member {
      font-size: 15px;
    }
    .photo1 img {
      height: 148px;
      width: 110px;
    }
    .photo2 img {
      height: 148px;
      width: 110px;
    }
    #image2015, #image2016, #image2017, #image2018, #image2019 {
      width: 150px;
      height: 141px;
    }
    #second-event-row {
      padding-left: 31px;
    }
    .bg-events{
      height: 36rem;
    }
    #event-position{
      top: 172px;
    }
    #second-event-row {
      padding-left: 32px;
      top: 13rem;
    }
    .titledesc3 h3 {
      font-size: 27px;
    }
    .leftsidedesc3 p {
      font-size: 13px;
    }
    .rightsidedesc3 p{
      font-size: 13px;
    }
    .stats-title h3 {
      font-size: 13px;
    }
    .number h1 {
      font-size: 28px;
    }
    .title-div h3 {
      font-size: 27px;
    }
    .p-div p {
      font-size: 15px;
      padding-top: 25px;
    }
    .button {
      width: 142px;
      
    }
    .second-section {
      left: 9rem;
    }

}
@media screen and (max-width: 600px) {
  .logo2 {
    margin-left: -75px;
    margin-top: -16rem;
  }
  .logo {
    margin-left: -163px;
    margin-top: -16rem;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 4px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    text-align: left;
  }
  ul {
    top: -2rem;
    left: 7rem;
  }
  .countdown-container {
    padding-left: 5rem;
    padding-top: 0rem;
    position: relative;
    top: -6rem;
  }
  .desc-box h1 {
    font-size: 10px;
  }
  .desc-box p {
    font-size: 12px;
  }
  .desc-box {
    top: -617px;
    margin-left: 76px;
    margin-right: 55px;
  }
  .desc-box h1 {
    font-size: 14px;
  }
  #price-title {
    font-size: 28px;
  }
  #paragraph-price {
    font-size: 15px;
  }
  #prix-position{
    padding-left: 0px !important;
padding-right: 0px !important;
  }
  #prix-position {
    top: -599px;
  }
  

}
@media screen and (max-width: 575px) {}
@media screen and (max-width: 480px) {}
@media screen and (max-width: 360px) {
  .logo {
    margin-left: -134px;
    margin-top: -16rem;
  }
  #img1 {
    width: 70px;
    height: 26px;
  }
  #img2 {
    width: 120px;
    height: 33px;
  }
  .logo2 {
    margin-left: -62px;
    margin-top: -16rem;
  }
  .countdown-container {
    padding-left: 0rem;
    padding-top: 0rem;
    position: relative;
    top: -12rem;
  }
  .countdown-container {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 6px;
    font-weight: bold;
  }
  .desc-box h1 {
    font-size: 11px;
  }
  .desc-box p {
    font-size: 8px;
  }
  .desc-box {
    top: -723px;
  
  }
  #prix-position {
    top: -721px;
  }
  #price-content-span {
    font-size: 12px;
  }
  ul {
    top: 0rem;
    left: -3rem;
  }
  #list-content-price {
    font-size: 8px;
  }
  .cards {
    top: -643px;
  }
  .wrapper {
    display: block;
    grid-template-columns: repeat(6, 1fr);
  }
  .card {
    padding-left: 137px;
  }
  .card .slide {
    width: 133px;
    height: 198px;
  }
  .timeline {
    top: -66rem;
    height: 49rem;
  }
  #timeline-image {
    padding-top: 7rem;
  }
  #team-pos{
  display: block;
padding-left: 36px;
padding-right: -1px;
top: -267px;


}
.member{
  padding-left: 5rem;
}
.right-man-team {
  width: 99%;
  display: block;
  padding-top: 80px;
}
.left-team {
  width: 99%;
}
.events {
  top: -127rem;
}

}
